/***** start *******/


.navbar-inverse .navbar-nav > .active > a,
 .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus,
  .dropdown-menu > li > a:hover,
 .dropdown-menu > li > a:focus,
 .carousel-indicators .active,
 .box-option .gear-chek,
 .dropdown-menu .divider
{
	background-color: #1E90FF;
}
.dropdown-menu
{
	background-color: rgba(10, 10, 10, 1);
}
.dropdown-menu > li > a
{
	color: rgba(204, 204, 204, 1);

}
.navbar-inverse .navbar-brand span,
.about h1 span,
.features .feat h3,
.testimoinls span,
.footer .h1,
.footer .copy span,.data .sta:hover
{
	color: #1E90FF;
}
.testimoinls .carousel-indicators .active,
.box-option .color-option,
.clints img:hover
{
	border:3px solid #1E90FF;
}
/***** end *******/